/* 
body {
    background-image: url("/background.jpg") !important;
    margin: 20px auto !important;
    width: 95%;
    font-size:2rem;
}
nav ul, footer ul {
    font-family:'Consolas', 'Helvetica', 'Arial', 'Sans-Serif' !important;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.ui.secondary.pointing.menu .right.menu .item{
    padding:inherit; 
    padding-top:0.5em;
}
.ui.secondary.pointing.menu > .menu > .item.active, 
.ui.secondary.pointing.menu > .item.active {
    border-color: rgba(0, 0, 0, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
}
a {
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Consolas', 'Helvetica', 'Arial', 'Sans-Serif' !important;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */