---
layout: default
title: About
navbarlocation: about
---
<div class="ui raised segment namedIntro">
	<div class="ui small circular image">
		<img src="/assets/profile_pic.jpg" />
	</div>
	<h1>Abdul Khaliq Zaheer</h1>
</div>
<div class="ui raises segment desc">
	<p>I work as a software engineer, and have been known to resemble a pun-toting, unmitigated punman. Always locked and loaded.</p>
	<p>I enjoy solving problems. More than implementing the solution. But the implementation has it's own pleasure.
		<p>And I've come to cultivate that side of myself, and even come to terms with being proud of it.</p>
	</p>
	<p>Here's a feed of me, and things me.</p>
</div>
<br/><br/>
<div class="ui feed">
	{% for proj in site.data.about_timeline %}
	<div class="ui horizontal divider">
		{{proj.Year}}
	</div>
	{% for item in proj.Data %}
	<div class="event">
		<div class="label">
			<img src="/assets/profile_pic.jpg">
		</div>
		<div class="content">
			<div class="summary">
				{{item.Summary}}
				<div class="date">
					{{item.Date}}
				</div>
			</div>
			<div class="extra text">
				{{item.Content}}
			</div>
			<div class="meta">
				<a class="like">
					<i class="like icon"></i> 5 Likes
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
</div>