<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
	<script src="/semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/button.css">
	<link rel="stylesheet" type="text/css" href="/css/segment.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/card.css">
	<link rel="stylesheet" type="text/css" href="/css/popup.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
	<div class="bodyContent">
		<div class="nonfooter-wrapper">
			<div id="navbar_menu" class="ui secondary pointing menu mainMenu nonMobile">
				<a id="home" class="navbar_menu_item active item" href="/">
					<i class="home inverted black large icon"></i>
				</a>
				<a id="about" class="navbar_menu_item item" href="/about">About</a>
				<a id="resume" class="navbar_menu_item item" href="/resume">Resume</a>
				<a id="blog" class="navbar_menu_item item" href="/blog">Blog</a>
				<a id="projects" class="navbar_menu_item item" href="/projects">Projects</a>
				<div class="right menu">
					<a class="item avatar" href="/about">
						<div class="ui circular bordered image">
							<img src="/assets/profile_pic.jpg" />
						</div>
					</a>
					<a class="item" href="mailto:abdulkhaliqzaheer@gmail.com" title="mailto:abdulkhaliqzaheer@gmail.com">
						<i class="mail square inverted blue large icon"></i>
					</a>
					<a class="item" href="https://github.com/abdulbeard" target="__blank">
						<i class="github square inverted green large icon"></i>
					</a>
				</div>
			</div>
			<div id="navbar_menu" class="ui secondary pointing menu mainMenu mobile">
				<a id="home_mbl" class="navbar_menu_item active item" href="/">
					<i class="home inverted black large icon"></i>
				</a>
				<a id="about_mbl" class="navbar_menu_item item" href="/about"><i class="info circle icon"></i></a>
				<a id="resume_mbl" class="navbar_menu_item item" href="/resume"><i class="file alternate icon"></i></a>
				<a id="blog_mbl" class="navbar_menu_item item" href="/blog"><i class="edit icon"></i></a>
				<a id="projects_mbl" class="navbar_menu_item item" href="/projects"><i class="code icon"></i></a>
				<div class="right menu">
					<a class="item avatar" href="/about">
						<div class="ui circular bordered image">
							<img src="/assets/profile_pic.jpg" />
						</div>
					</a>
					<a class="item" href="mailto:abdulkhaliqzaheer@gmail.com" title="mailto:abdulkhaliqzaheer@gmail.com">
						<i class="mail square inverted blue large icon"></i>
					</a>
					<a class="item" href="https://github.com/abdulbeard" target="__blank">
						<i class="github square inverted green large icon"></i>
					</a>
				</div>
			</div>
			<div class="ui centered grid">
				<div class="ui content">

					{{ content }}

				</div>
			</div>
		</div>
		<footer>
			<div class="ui horizontal list">
				<div class="item">
					<div class="content">
						<a href="mailto:abdulkhaliqzaheer@gmail.com">Email me</a>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<a href="https://github.com/abdulbeard">Github</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="navbarlocation" style="display:none" text="{{ page.navbarlocation }}">{{ page.navbarlocation }}</div>
</body>

</html>
<script>
	function handleMobileVisibility() {
		window.isMobile = window.innerWidth < 500;
		if (window.isMobile) {
			$('.mobile').show();
			$('.nonMobile').hide();
		}
		else {
			$('.mobile').hide();
			$('.nonMobile').show();
		}
		console.log(window.innerWidth, window.isMobile);
	}
	$(window).resize(() => {
		handleMobileVisibility();
	});
	$(document).ready(function () {
		handleMobileVisibility();var currLocation = $('#navbarlocation').text();

		var selector = '#' + currLocation + (window.isMobile ? "_mbl" : "")
		var activeItem = $(selector);
		$(activeItem).addClass('active');
		$('.navbar_menu_item').not(activeItem).removeClass('active');		
	});	
</script>